# https://alan-mushi.github.io/2014/10/26/execute-an-interactive-script-at-boot-with-systemd.html

[Unit]
Description=Jukebox
After=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/home/alarm/usbmusi.sh
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target